#banner{
    height: 60px;
    width: 100%;
    background: -moz-linear-gradient(top,  #196e95 0%, #279789 76%, #289e86 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #196e95 0%,#279789 76%,#289e86 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #196e95 0%,#279789 76%,#289e86 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: relative;
    margin: 0;
    padding: 0;
    color: #fefefe;
  }
  #banner-container{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .banner-image{
    width: max-content;
    margin: 0 auto;
  }
  .banner-exit{
    float: right;
   position: absolute;
   right: 5px;
   top: 5px;
  }