<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mannajob.mapper.AdminMapper">
	<!-- 회원 리스트 -->
	<resultMap type="com.mannajob.domain.EmplVO" id="memEmplVO">
		<result property="e_num" column="e_num" />
	</resultMap>
	
	<resultMap type="com.mannajob.domain.MemberVO" id="MemberVO">
		<result property="m_id" column="m_id"/>
		<result property="m_cdate" column="m_cdate" />
		<result property="m_stop" column="m_stop" />
		<result property="m_del" column="m_del"/>
		<collection property="emplVO" resultMap="memEmplVO" />
	</resultMap>

	<select id="getMemListWithPaging" resultMap="MemberVO">
		select rownum, m_id, m_cdate, m_stop, m_del from 
		(select /*+ index_desc(member m.m_id) */
		rownum rn, e.e_num, m.m_id, m.m_cdate, m.m_stop, m.m_del from member m LEFT JOIN empl e 
		ON m.m_id = e.m_id WHERE
		<choose>
			<when test='"All".equals(searchType)'>
			</when>
			<when test='"Worker".equals(searchType)'>
				e_num IS NOT NULL AND
			</when>
			<when test='"Seeker".equals(searchType)'>
				e_num IS NULL AND
			</when>
		</choose>
		<![CDATA[
		rownum <= #{pageNum} * #{amount}
		]]>
		<if test='keyword != null'>
			AND m.m_id LIKE '%'||#{keyword}||'%'
		</if>
			)
		<![CDATA[
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>	

	<select id="getTotalCount" resultType="int">
		select count(m_id) from member
	</select>
	
	<update id="resetPasswd">
		UPDATE member SET m_passwd = '1234' WHERE m_id = #{m_id}
	</update>
	
	<update id="emplOk">
		UPDATE empl SET e_ok = 'Y', e_okdate = sysdate WHERE m_id = #{m_id}
	</update>

	<resultMap type="com.mannajob.domain.EmplVO" id="EmplVO">
		<result property="e_num" column="e_num" />
		<result property="m_id" column="m_id"/>
		<result property="e_applydate" column="e_applydate"/>
		<result property="e_ok" column="e_ok"/>
	</resultMap>

	<select id="getEmplListWithPaging" resultMap="EmplVO">
		select e_num, m_id, e_applydate, e_ok from 
		(select /*+ index_desc(empl e_num) */
		rownum rn, e_num, m_id, e_applydate, e_ok from empl 
		WHERE
		<choose>
			<when test='"All".equals(searchType)'>
			</when>
			<when test='"Ok".equals(searchType)'>
				e_ok = 'Y' AND
			</when>
			<when test='"Not".equals(searchType)'>
				e_ok = 'N' AND
			</when>
		</choose>
		<![CDATA[
		rownum <= #{pageNum} * #{amount}
		]]>
		<if test='keyword != null'>
			AND m_id LIKE '%'||#{keyword}||'%'
		</if>
			)
		<![CDATA[
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>	
	
	<select id="getemplTotalCount" resultType="int">
		select count(m_id) from empl
	</select>

</mapper>
